<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <!-- Links -->

  <a class="navbar-brand" href="#">
    <img class="card-img-top" src="../../assets/images/Picture3.png" alt="Card image" height="50px;">
  </a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="/dashbord" class="nav-link">
        <p>Home</p>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/" class="nav-link" (click)="sigOut()">
        <p>Log Out</p>
      </a>
    </li>
  </ul>
</nav>
